/* style.css */

@import('font-awesome.css');

html, body {
	height: 100%;
	margin: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: #6c6f73;
}

h1, h2, h3, h4, h5, h6 {
	color: #262F36;
}

h6 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
}

a:hover {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.blockquote {
	font-size: 1.6rem;
	color: #333;
	border: none;
	padding: 0;
}
.blockquote-footer {
	margin: 1rem 0 0;
}
.center {
	text-align: center;
}

/***** Pages *****/
#header {
	background-color: #262F36;
}
.row img {
	padding-left: 1rem;
}
#header .row div {
	margin: auto 0;
	padding: 2rem;
}
#header-nav .nav-link {
	color: #fff;
}
#header-nav .active {
	font-weight: bold;
}
@media screen and (min-width: 576px) {
	#header nav ul {
		float: right;
	}	
}
@media screen and (max-width: 576px) {
	#header {
		justify-content: center;
	}
	#header nav ul {
		margin: auto;
	}	
}

#sidebar {
	padding: 20px 0;
}
#sidebar .nav {
	margin-bottom: 20px;
}

#sidebar h6 {
	margin-left: 1rem;
}

#sidebar .nav-item {
	width: 100%;
}

#sidebar .nav-item + .nav-item {
	margin-left: 0;
}

#sidebar .nav-link {
	border-radius: 0;
}

main {
	min-height: 32rem !important;
}
main .row {
	padding-bottom: 1rem;
}
main h3 {
	border-bottom: 1px solid #262F36;
}
main img {
	padding-left: 0 !important;
}

.no-wishes {
	margin-top: 10rem;
}

.card {
	width: 10rem;
	height: 11rem;
	margin-bottom: 15px;
	box-shadow: 5px 5px 5px #eee;
}
.card:hover {
	box-shadow: none;
	cursor: pointer;
}
.card-top {
	height: 5rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	text-align: center;
}
.card-title {
	height: 2.5rem;
}
.card-top img {
	max-height: 4.9rem;
}
.card-block {
	padding-left: 1rem;
}
@media screen and (max-width: 768px) {
	.card-block h4 {
		font-size: 1em;
	}
}
.well-card {
	padding: 0.5rem;
	color: #262F36;
}
.well-card:hover {
	color: #262F36;
}
.well-card-link:first-child {
	margin-left: auto;
}
.well-card-link:last-child {
	margin-right: auto;
}
.well-card-head {
	background-color: #eee;
	border-radius: 50%;
	height: 6rem;
	text-align: center;
	font-size: 1.5rem;
	margin-bottom: 1rem;
}
.card-table {
	display: table;
	width: 100%;
	height: 100%;
}
.card-table-cell {
	display: table-cell;
	vertical-align: middle;
	line-height: 1.6rem;
}
.card-list {
	margin-bottom: 0;
}

.new-wish-card {
	background-image: url('images/add.png');
	background-position: center;
	background-size: cover;
	
}

.star {
	margin: 0 !important;
}
.star img{
	width: 1.1rem;
	height: 1.1rem;
	padding: 0;
}
.file-browse {
	margin-bottom: 0;
}

.wish-img {
	padding-bottom: 1rem;
	max-height: 600px;
}

#explore-jumbotron {
	background-image: url('images/map.png');
	background-size: cover;
	background-position: center center;
}

/***** Front Page *****/

#stage {
	background: url('images/stage.jpg') center center no-repeat;
	background-size: cover;
	color: white;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

#stage-caption {
	font-size: 1.4em;
	font-weight: 200;
	max-width: 60rem;
	margin: 0 auto;
	text-align: center;
}

#stage-caption h1 {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}

section {
	padding: 5em 0;
	overflow: hidden;
}

.feature-dark {
	background: #262F36;
	color: white;
}

.feature-dark h2, .feature-dark h6 {
	color: white;
}

.feature-alt {
	background: #f0f0f0;
}

#about {
	background: url('images/snl-well.jpg') center left no-repeat;
	background-size: cover;
	height: 50%;
	width: 100%;
	display: flex;
}

#about .fearure-caption {
	background-color: rgba(255,255,255,0.7);
	color: black;
	padding: 2rem;
}

#footer {
	background: #262F36;
	padding: 3rem 0;
	font-size: 1.4rem;
}

#footer h6 {
	color: #718FA9;
}

#footer a {
	color: #6C6F73;
}

@media screen and (min-width: 991px) {
	section .row {
		display: flex;
		align-items: center;
	}
}

/***** Icons *****/
.icon-pencil {
	background-image: url("images/pencil_off.svg");
	background-size: contain;
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.icon-pencil:hover {
	background-image: url("images/pencil_on.svg");
}
